@inherits UmbracoViewPage<IHeader>;

<main class="flex flex-col mx-auto w-full px-28 py-6 justify-start items-start">
        <div class="text-center mx-auto mt-16 text-4xl font-extrabold">Planprocessen
            <div class="font-normal text-sm w-4/5 mx-auto mt-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aperiam sunt doloribus deleniti ea, ratione animi ex minima vel est, minus ab, quos delectus. Quo quidem facilis accusantium expedita perferendis, voluptate sed error maxime reprehenderit neque iste, ipsam nostrum excepturi debitis cupiditate beatae maiores rem officiis fuga architecto blanditiis quasi?
            </div>
            <div class="flex justify-between items-center mt-16 ">
                <div>
                    <div class="flex justify-center items-center bg-sbk_green rounded-full h-28 w-28">
                        <i class="fas fa-calendar-check fa-md" style="color: #ffffff;"></i>
                    </div>
                    <p class="text-xs mt-2 ">Steg 1</p>
                    <p class="font-normal text-xs">Planbesked</p>
                </div>
                <div>
                    <div class="flex justify-center items-center bg-sbk_green rounded-full h-28 w-28">
                        <i class="fas fa-map fa-md" style="color: #ffffff;"></i>
                    </div>
                    <p class="text-xs mt-2">Steg 2</p>
                    <p class="font-normal text-xs">Markanvisning</p>
                </div>
                <div>
                    <div class="flex justify-center items-center bg-sbk_green rounded-full h-28 w-28">
                        <i class="fas fa-users" style="color: #ffffff;"></i>
                    </div>
                    <p class="text-xs mt-2">Steg 3</p>
                    <p class="font-normal text-xs">Samråd för detaljplan</p>
                </div>
                <div>
                    <div class="flex justify-center items-center bg-sbk_green rounded-full h-28 w-28">
                        <i class="fas fa-clipboard" style="color: #ffffff;"></i>                        </div>
                    <p class="text-xs mt-2">Steg 4</p>
                    <p class="font-normal text-xs">Granskning detaljplan</p>
                </div>
                <div>
                    <div class="flex justify-center items-center bg-sbk_green rounded-full h-28 w-28">
                        <i class="fas fa-thumbs-up" style="color: #ffffff;"></i>
                    </div>
                    <p class="text-xs mt-2">Steg 5</p>
                    <p class="font-normal text-xs">Detaljplan antas</p>
                </div>
                <div>
                    <div class="flex justify-center items-center bg-sbk_green rounded-full h-28 w-28">
                        <!-- <i class="fas fa-calendar-check fa-md" style="color: #ffffff;"></i> -->
                        <i class="fas fa-clipboard-check fa-md" style="color: #ffffff;"></i>
                    </div>
                    <p class="text-xs mt-2">Steg 6</p>
                    <p class="font-normal text-xs">Gällande detaljplan</p>
                </div>
            </div>
        </div>
        <div class="mt-6"                                                                       >
            <a class="text-[1rem] font-extrabold underline text-left" href="#">Läs mer här</a>
        </div>
        <div class="flex justify-center w-full items-center mt-20 bg-sbk_green">
            <img class="w-2/4 h-96 object-cover" src="/img//map-gbg.png" alt="Karta av Göteborg">
            <div class="flex justify-center items-center mx-auto bg-sbk_green w-2/4 h-96">
                <div class="flex flex-col items-start justify-between w-3/6 mx-auto">
                    <div class="text-3xl text-white tracking-wide font-bold">Sök bland våra planprojekt och markanvisningar</div>
                    <button class="mt-6 px-8 py-3 bg-slate-800 text-sbk_white font-bold text-sm ">Sök här</button>
                </div>
            </div>
        </div>
        <div class="mt-16 grid gap-4 grid-cols-3 grid-rows-3 h-[450px] w-full">
            <div class="flex justify-start items-center h-full bg-cyan-100 border-teal-500 border-l-4">
                <div class="flex ml-8">
                    <i class="fas fa-id-card fa-lg"></i>
                    <div class="ml-4 text-xl font-bold">Byggnadsnämndens beslut</div>
                </div>
            </div>
            <div class="flex justify-start items-center h-full bg-cyan-100 border-teal-500 border-l-4">
                <div class="flex ml-8">
                    <i class="fas fa-industry fa-lg"></i>
                    <div class="ml-4 text-xl font-bold">Startplan 2022</div>
                </div>
            </div>
            <div class="flex justify-start items-center h-full bg-cyan-100 border-teal-500 border-l-4">
                <div class="flex ml-8">
                    <i class="fas fa-building fa-lg"></i>
                    <div class="ml-4 text-xl font-bold">Sök planbesked</div>
                </div>
            </div>
            <div class="flex justify-start items-center h-full bg-cyan-100 border-teal-500 border-l-4">
                    <div class="flex ml-8">
                        <i class="fas fa-file fa-lg"></i>
                    <div class="ml-4 text-xl font-bold">Översiktsplan för Göteborg</div>
                    </div>
                </div>
            <div class="flex justify-start items-center h-full bg-cyan-100 border-teal-500 border-l-4">
                    <div class="flex ml-8">
                        <i class="fas fa-info fa-lg"></i>
                        <div class="ml-4 text-xl font-bold">Detaljplaner</div>
                    </div>
            </div>
            <div class="flex justify-start items-center h-full bg-cyan-100 border-teal-500 border-l-4">
                <div class="flex ml-8">
                    <i class="fas fa-folder-open fa-lg"></i>
                    <div class="ml-4 text-xl font-bold">Gälland detaljplaner</div>
                </div>
            </div>
            <div class="flex justify-start items-center h-full bg-cyan-100 border-teal-500 border-l-4">
                    <div class="flex ml-8">
                        <i class="far fa-map fa-lg"></i>
                    <div class="ml-4 text-xl font-bold">Markanvisningar</div>
                    </div>
                </div>
            <div class="flex justify-start items-center h-full bg-cyan-100 border-teal-500 border-l-4">
                    <div class="flex ml-8">
                        <i class="fas fa-file-alt fa-lg"></i>
                        <div class="ml-4 text-xl font-bold">Lorem ipsum</div>
                    </div>
            </div>
            <div class="flex justify-start items-center h-full bg-cyan-100 border-teal-500 border-l-4">
                <div class="flex ml-8">
                    <i class="far fa-file-image fa-lg"></i>
                    <div class="ml-4 text-xl font-bold">Lorem ipsum</div>
                </div>
            </div>
        </div>
    </main>