@inherits UmbracoViewPage<IHeader>;

<nav class="flex-col w-full">
    <nav-top class="bg-sbk_blue text-3xl h-10 w-full flex justify-end items-center">
        <button class="text-sm text-sbk_white mr-4"><i class="fas fa-globe fa-lg mr-2" style="color: #ffffff;"></i>Translate</button>
        <button class="text-sm text-sbk_white mr-4"><i class="fas fa-headphones fa-lg mr-2" style="color: #ffffff;"></i>Lyssna</button>
    </nav-top>
    <nav-main class="flex justify-between items-center bk-sbk_white h-[86px] w-full border">
        <div>
            <img class="h-[47px] ml-6" src="/img//gbg.webp" alt="Göteborg stad">
        </div>
        <div>
            <button class="text-sm text-black border-x leading-6 p-4 w-24 h-full"><i class="far fa-comment fa-2x" style="color: #000000;"></i><div>Kontakt</div></button>
            <button class="text-sm text-black border-r leading-6 p-4 w-24 h-full"><i class="fas fa-search fa-2x"></i><div>Sök</div></button>
            <button class="text-sm text-black leading-6 p-4 w-24 h-full"><i class="fas fa-bars fa-2x"></i><div>Meny</div></button>

        </div>


    </nav-main>
</nav>