@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/dist/output.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <script src="https://kit.fontawesome.com/ddc5d7afda.js" crossorigin="anonymous"></script>
        <link href="/dist/index.css" rel="stylesheet">
        <title>SBK | Din Stad</title>
    </head>
    <body>
		@await Html.PartialAsync("~/Views/Partials/navbar.cshtml")
		@await Html.PartialAsync("~/Views/Partials/header.cshtml")
		@await Html.PartialAsync("~/Views/Partials/warnings.cshtml")
		@await Html.PartialAsync("~/Views/Partials/main.cshtml")
		@RenderBody()
    </body>
</html>

