<?xml version="1.0" encoding="utf-8"?>
<Media Key="f880275b-fecd-4ef1-907b-cec37d3a019c" Alias="Calendar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Calendar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-09T21:26:28</CreateDate>
    <NodeName Default="Calendar" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lutjb4gn/calendar.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>