<?xml version="1.0" encoding="utf-8"?>
<Media Key="a121500e-19e1-4900-9a40-43b88f248113" Alias="Excavator" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Excavator</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-09T20:37:48</CreateDate>
    <NodeName Default="Excavator" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bbicdipb/excavator.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>