<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a7a406c-f67f-4d36-a682-81a94e68090c" Alias="Gothenburg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gothenburg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-09T17:01:24</CreateDate>
    <NodeName Default="Gothenburg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/njahust5/gothenburg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>