<?xml version="1.0" encoding="utf-8"?>
<Media Key="f97f053b-cfe5-4307-b800-973fb3fb3fa2" Alias="Map Gbg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MapGbg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-09T22:05:36</CreateDate>
    <NodeName Default="Map Gbg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/huch54pf/map-gbg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>