<?xml version="1.0" encoding="utf-8"?>
<Media Key="68aa3e31-b6fe-4370-a2a4-81077416df73" Alias="Profiles" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Profiles</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-09T21:31:06</CreateDate>
    <NodeName Default="Profiles" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g25ku0h4/profiles.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>