<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d1b88cd-6ad1-4c75-9de3-98dabfcc7f45" Alias="Screenshot 2023 06 08 At 14.27.09" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Screenshot20230608At142709</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-09T22:04:34</CreateDate>
    <NodeName Default="Screenshot 2023 06 08 At 14.27.09" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zoebxhor/screenshot-2023-06-08-at-142709.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>