<?xml version="1.0" encoding="utf-8"?>
<Media Key="1310d400-65e0-426f-a63e-b90c4307b15a" Alias="Stockholm" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Stockholm</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-06-09T20:31:09</CreateDate>
    <NodeName Default="Stockholm" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a1kbae5a/stockholm.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>