<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a7cbfe6-c61b-4f15-a17c-67854d3840d8" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-06-09T14:09:54</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="49191c5f-c6c7-4617-8c7b-9400ef3f70b8">Home</Template>
  </Info>
  <Properties>
    <circleHeading>
      <Value><![CDATA[Steg 1]]></Value>
    </circleHeading>
    <circleIcon>
      <Value><![CDATA[[
  {
    "key": "dac31346-7642-45a9-86a5-6e30e39914c7",
    "mediaKey": "f880275b-fecd-4ef1-907b-cec37d3a019c"
  }
]]]></Value>
    </circleIcon>
    <circleText>
      <Value><![CDATA[Planbesked]]></Value>
    </circleText>
    <headerButtonText>
      <Value><![CDATA[Kontakta oss]]></Value>
    </headerButtonText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "5fa88026-7898-43ad-b52c-86f4f44f91b6",
    "mediaKey": "4a7a406c-f67f-4d36-a682-81a94e68090c"
  }
]]]></Value>
    </headerImage>
    <headerSubText>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur adipisicing elit. Non exercitationem vero laboriosam porro distinctio, dolorem nam? Distinctio possimus esse iure!]]></Value>
    </headerSubText>
    <headerTitle>
      <Value><![CDATA[Så planeras staden]]></Value>
    </headerTitle>
    <planningText>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aperiam sunt doloribus deleniti ea, ratione animi ex minima vel est, minus ab, quos delectus. Quo quidem facilis accusantium expedita perferendis, voluptate sed error maxime reprehenderit neque iste, ipsam nostrum excepturi debitis cupiditate beatae maiores rem officiis fuga architecto blanditiis quasi?]]></Value>
    </planningText>
    <planningTitle>
      <Value><![CDATA[Planprocessen]]></Value>
    </planningTitle>
    <searchPlanButtonText>
      <Value><![CDATA[Sök Här]]></Value>
    </searchPlanButtonText>
    <searchPlanImage>
      <Value><![CDATA[[
  {
    "key": "d0d95a36-e0f6-4ece-afdb-80b4b04208b0",
    "mediaKey": "f97f053b-cfe5-4307-b800-973fb3fb3fa2"
  }
]]]></Value>
    </searchPlanImage>
    <searchPlanText>
      <Value><![CDATA[Sök bland våra planprojekt och markanvisningar]]></Value>
    </searchPlanText>
    <warningsDate>
      <Value><![CDATA[10 SEPTEMBER 18:10]]></Value>
    </warningsDate>
    <warningsImage>
      <Value><![CDATA[[
  {
    "key": "3c044cb4-3cf6-42c0-8c13-4304f66fcc02",
    "mediaKey": "a121500e-19e1-4900-9a40-43b88f248113"
  }
]]]></Value>
    </warningsImage>
    <warningsLinkText>
      <Value><![CDATA[Läs om hur trafikstörningen kan påverka dig]]></Value>
    </warningsLinkText>
    <warningsText>
      <Value><![CDATA[Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore dignissimos deleniti, cumque praesentium unde nesciunt aliquam et? Aliquam autem aut quae temporibus maiores dolore sequi laudantium cupiditate rerum minima est reiciendis nesciunt perspiciatis ex excepturi nihil, fuga delectus sed eos?.]]></Value>
    </warningsText>
    <warningsTitle>
      <Value><![CDATA[Trafikstörning]]></Value>
    </warningsTitle>
  </Properties>
</Content>