<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6710ac8-2ecd-40a0-8456-b8c9845ad902" Alias="Circles" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Circles</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-06-09T21:22:55</CreateDate>
    <NodeName Default="Circles" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="49191c5f-c6c7-4617-8c7b-9400ef3f70b8">Home</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <circleHeading>
      <Value><![CDATA[]]></Value>
    </circleHeading>
    <circleIcon>
      <Value><![CDATA[]]></Value>
    </circleIcon>
    <circleText>
      <Value><![CDATA[]]></Value>
    </circleText>
    <headerButtonText>
      <Value><![CDATA[Kontakta oss]]></Value>
    </headerButtonText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "5fa88026-7898-43ad-b52c-86f4f44f91b6",
    "mediaKey": "4a7a406c-f67f-4d36-a682-81a94e68090c"
  }
]]]></Value>
    </headerImage>
    <headerSubText>
      <Value><![CDATA[Lorem ipsum dolor sit amet consectetur adipisicing elit. Non exercitationem vero laboriosam porro distinctio, dolorem nam? Distinctio possimus esse iure!]]></Value>
    </headerSubText>
    <headerTitle>
      <Value><![CDATA[Så planeras staden]]></Value>
    </headerTitle>
    <planningText>
      <Value><![CDATA[]]></Value>
    </planningText>
    <planningTitle>
      <Value><![CDATA[]]></Value>
    </planningTitle>
    <searchPlanButtonText>
      <Value><![CDATA[]]></Value>
    </searchPlanButtonText>
    <searchPlanImage>
      <Value><![CDATA[]]></Value>
    </searchPlanImage>
    <searchPlanText>
      <Value><![CDATA[]]></Value>
    </searchPlanText>
    <warningsDate>
      <Value><![CDATA[10 SEPTEMBER 18:10]]></Value>
    </warningsDate>
    <warningsImage>
      <Value><![CDATA[[
  {
    "key": "3c044cb4-3cf6-42c0-8c13-4304f66fcc02",
    "mediaKey": "a121500e-19e1-4900-9a40-43b88f248113"
  }
]]]></Value>
    </warningsImage>
    <warningsLinkText>
      <Value><![CDATA[Läs om hur trafikstörningen kan påverka dig]]></Value>
    </warningsLinkText>
    <warningsText>
      <Value><![CDATA[Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore dignissimos deleniti, cumque praesentium unde nesciunt aliquam et? Aliquam autem aut quae temporibus maiores dolore sequi laudantium cupiditate rerum minima est reiciendis nesciunt perspiciatis ex excepturi nihil, fuga delectus sed eos?.]]></Value>
    </warningsText>
    <warningsTitle>
      <Value><![CDATA[Trafikstörning]]></Value>
    </warningsTitle>
  </Properties>
</Content>